.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 7vw;
  background-color: #5d5cdc;
  color: white;
  background-image: url("../assets/images/contact-bg-header.svg");
}

.logo-contact-page {
  font-family: "Lemon", sans-serif; /* Sử dụng font Lemon */
  font-size: 2vw; /* Font size theo viewport width */
}

.logo-contact-page:hover {
  color: #feb12f; /* Màu chữ khi hover */
}
