/* INTRO BLOCK */

.intro-block {
  position: relative;
  width: 100vw;
  background-image: url("../assets/images/intro_background.svg");
  background-size: contain;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 55vh; /* chừa chỗ cho hình */
  overflow: hidden;
  margin-bottom: 10vh; /* Khoảng cách dưới */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 7vw;
  color: white;
}

.logo-name {
  font-family: "Lemon", sans-serif; /* Sử dụng font Lemon */
  font-size: 2vw; /* Font size theo viewport width */
}

.logo-name:hover {
  color: #feb12f; /* Màu chữ khi hover */
}

.nav-menu {
  display: flex;
  gap: 2vw; /* Khoảng cách giữa các mục */
}

.nav-item {
  color: #fff8f2;
  cursor: pointer;
  font-family: "SegoeUI", sans-serif;
  font-size: 1vw; /* Kích thước font, bạn có thể điều chỉnh theo nhu cầu */
  padding: 1vh 2vh; /* Khoảng cách bên trong */
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600; /* Đặt trọng số font là semi-bold */
  line-height: 1; /* Đảm bảo chiều cao dòng nhất quán */
}

.nav-item:hover {
  color: #feb12f; /* Màu chữ khi hover */
  /* Không thay đổi font-weight ở đây */
}

.downloadCVButton {
  background-color: #feb12f; /* Màu nền */
  color: #fff8f2; /* Màu chữ */
  padding: 1.5vh 3vh; /* Khoảng cách bên trong */
  border: none; /* Không có viền */
  border-radius: 3vh;
  cursor: pointer; /* Con trỏ khi hover */
  font-weight: 600; /* Trọng số font */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.downloadCVButton:hover {
  background-color: #fff8f2; /* Màu nền khi hover */
  color: #feb12f; /* Màu chữ khi hover */
}

/* Wrapper giữ nguyên kích thước ảnh */
.split-image-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* Container ảnh */
.split-image-container {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Ảnh thật */
.image-left {
  display: block;
  position: relative;
  z-index: 1;
  width: auto;
  height: auto;
  transition: clip-path 0.6s ease, filter 0.6s ease, transform 0.6s ease;
}

/* Ảnh ảo */
.image-right {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: auto;
  height: auto;
  clip-path: inset(0 0 0 50%); /* Hiển thị nửa phải */
  transition: clip-path 0.6s ease, filter 0.6s ease, transform 0.6s ease;
  pointer-events: none;
}

.line-circle-left {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: 10%; /* Di chuyển 10% từ cạnh trên */
  left: 3%; /* Di chuyển 15% từ cạnh trái */
}

.line-circle-right {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  bottom: 10%; /* Di chuyển 10% từ cạnh trên */
  right: 3%; /* Di chuyển 15% từ cạnh trái */
}

.white-sign {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  bottom: 18%; /* Di chuyển 10% từ cạnh trên */
  right: 26%; /* Di chuyển 15% từ cạnh trái */
  z-index: 20;
  transition: opacity 0.6s ease, transform 0.6s ease;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.7)); /* Thêm hiệu ứng đổ bóng */
}

.coder-background {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  bottom: 6%; /* Di chuyển 10% từ cạnh trên */
  left: 27.5%; /* Di chuyển 15% từ cạnh trái */
  z-index: 1; /* Đặt dưới các phần tử khác */
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.coder-title-wrapper {
  position: absolute;
  top: 40%;
  height: calc(100% - 55vh);
  left: 17%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
}

.coder-title-block {
  display: flex;
  flex-direction: column;
  gap: 1vh; /* Khoảng cách giữa title và subtext */
  max-width: 38vw;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.designer-title-wrapper {
  position: absolute;
  top: 40%;
  height: calc(100% - 55vh);
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
}

.designer-title-block {
  display: flex;
  flex-direction: column;
  gap: 1vh; /* Khoảng cách giữa title và subtext */
  max-width: 38vw;
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.intro-title {
  font-size: 4vw; /* Kích thước chữ */
  font-weight: bold;
  font-family: "Segoe UI", sans-serif;
  color: #fff8f2;
  text-align: left;
}

.coder-subtext {
  color: #fff8f2; /* Màu chữ */
  font-size: 1vw; /* Kích thước chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  max-width: 55%; /* Chiều dài tối đa của đoạn văn bản */
  font-weight: 350;
  text-align: left;
}

.designer-subtext {
  color: #fff8f2; /* Màu chữ */
  font-size: 1vw; /* Kích thước chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  max-width: 65%; /* Chiều dài tối đa của đoạn văn bản */
  font-weight: 350;
  text-align: left;
}

/* Dịch sang trái hoặc phải */
.shift-left {
  transform: translateX(-4vw);
  transition: transform 0.6s ease;
}

.shift-right {
  transform: translateX(4vw);
  transition: transform 0.6s ease;
}

.fade-opacity {
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Mờ dần riêng white-sign */
.fade-out {
  opacity: 0;
  transition: opacity 0.6s ease;
}

/* Dịch toàn bộ ảnh */
.image-shift-left {
  transform: translateX(-2vw);
  transition: transform 0.6s ease;
}

.image-shift-right {
  transform: translateX(2vw);
  transition: transform 0.6s ease;
}

/* INTRO BLOCK END*/

.service-block {
  position: relative; /* Tạo vị trí tương đối */
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column;
  text-align: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
}

.service-text-block {
  color: #6e6ce5; /* Màu chữ */
  font-size: 1.1vw; /* Kích thước chữ */
  font-weight: bold; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  justify-content: space-between;
  display: flex; /* Hiển thị theo chiều dọc */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  align-items: center; /* Căn giữa các phần tử theo chiều ngang */
}

.service-title {
  color: #323843; /* Màu chữ */
  font-size: 2.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
}

.service-subtext {
  color: #464545; /* Màu chữ */
  font-size: 1.1vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: lighter; /* Trọng số font */
  align-self: center;
  width: 50%;
  text-align: center; /* Căn giữa văn bản */
}

.circle-service {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: -5%; /* Di chuyển 10% từ cạnh trên */
  left: 13%; /* Di chuyển 15% từ cạnh trái */
}

.purple-circle-service {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: 5%; /* Di chuyển 10% từ cạnh trên */
  right: 10%; /* Di chuyển 15% từ cạnh trái */
}

.service-box-group {
  display: flex; /* Hiển thị theo chiều ngang */
  justify-content: center; /* Căn giữa các phần tử theo chiều ngang */
  gap: 1.5vw; /* Khoảng cách giữa các phần tử */
  padding: 5vh 10vw; /* Padding: trên, phải, dưới, trái */
}

.box {
  padding: 2vh 3vw; /* Khoảng cách bên trong */
  border-radius: 10px; /* Bo tròn */
  font-weight: 600; /* Trọng số font */
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi */
  display: flex; /* Hiển thị theo chiều dọc */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  align-items: center; /* Căn giữa các phần tử theo chiều ngang */
}

/* Hiệu ứng khi rê chuột vào */
.box:hover {
  transform: scale(1.03); /* Tăng kích thước lên 5% */
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2); /* Tăng độ đổ bóng khi hover */
}

.box-2:hover {
  box-shadow: 0 4px 40px rgba(63, 63, 228, 0.5); /* Shadow màu tím khi hover */
  transform: scale(1.05); /* Tăng kích thước khi hover */
}

.box-1 {
  background-color: #f8f8f8; /* Màu nền */
  padding: 4vh 0; /* Khoảng cách bên trong */
  border-radius: 2vh; /* Bo tròn */
  width: 25%; /* Chiều rộng */
  font-weight: 600; /* Trọng số font */
  transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

.box-2 {
  background-color: #5d5cdc; /* Màu nền */
  color: white; /* Màu chữ */
  padding: 4vh 0; /* Khoảng cách bên trong */
  border-radius: 2vh; /* Bo tròn */
  width: 25%; /* Chiều rộng */
  font-weight: 600; /* Trọng số font */
  transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

.box-3 {
  background-color: #f8f8f8; /* Màu nền */
  padding: 4vh 0; /* Khoảng cách bên trong */
  border-radius: 2vh; /* Bo tròn */
  width: 25%; /* Chiều rộng */
  font-weight: 600; /* Trọng số font */
  transition: background-color 0.3s ease, color 0.3s ease; /* Hiệu ứng chuyển đổi màu */
}

.box img {
  width: auto; /* Đặt chiều rộng của hình ảnh bằng 100% chiều rộng của hộp */
  height: auto; /* Để chiều cao tự động, giữ tỷ lệ khung hình */
  object-fit: contain; /* Giữ nguyên tỷ lệ hình ảnh mà không bị méo */
  transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển đổi cho hình ảnh */
  margin-bottom: 3vh; /* Khoảng cách dưới hình ảnh */
  align-items: center; /* Căn giữa theo chiều ngang */
}

/* Khi hover, phóng to hình ảnh */
.box:hover img {
  transform: scale(1.08); /* Tăng kích thước hình ảnh lên 10% */
}

.box-title {
  color: #000; /* Màu chữ */
  font-size: 1.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
  margin-bottom: 1vh;
}

.box-content {
  color: #464545; /* Màu chữ */
  font-size: 0.9vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: 400; /* Trọng số font */
  text-align: center; /* Căn giữa văn bản */
  width: 76%; /* Chiều rộng tối đa của văn bản */
  align-self: center; /* Căn giữa theo chiều ngang */
}

.box-title-2 {
  font-size: 1.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
  margin-bottom: 2vh;
}

.box-content-2 {
  font-size: 0.9vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: 400; /* Trọng số font */
  text-align: center; /* Căn giữa văn bản */
  width: 76%; /* Chiều rộng tối đa của văn bản */
  align-self: center; /* Căn giữa theo chiều ngang */
}

.star {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  bottom: -15%; /* Di chuyển 10% từ cạnh trên */
  left: 35%; /* Di chuyển 15% từ cạnh trái */
}

.about-me-block {
  margin-top: 20vh; /* Khoảng cách trên */
  position: relative; /* Tạo vị trí tương đối */
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: row; /* Đặt chiều dọc cho phần tử con */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
  background-image: url("../assets/images/about-me-background.svg");
  background-size: contain; /* Sử dụng cover để ảnh bao phủ toàn bộ khối */
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: auto; /* Đặt chiều cao khối là toàn màn hình */
  width: auto; /* Xóa padding để loại bỏ khoảng cách thừa */
  padding: 10vh 0; /* Padding: trên, phải, dưới, trái */
  gap: 40vw; /* Khoảng cách giữa các phần tử */
}

.left-block {
  position: relative; /* Tạo vị trí tương đối */
  margin-left: 8vw; /* Khoảng cách trái */
  width: 100%; /* Đặt kích thước phù hợp */
  height: 100%; /* Đặt kích thước phù hợp */
}

.right-block {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  align-items: flex-start; /* Căn giữa theo chiều ngang */
  justify-content: flex-start; /* Căn giữa các phần tử theo chiều dọc */
  text-align: left; /* Căn trái nội dung */
  margin-right: 8vw; /* Khoảng cách phải */
}

.black-sign {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: -7%; /* Di chuyển 10% từ cạnh trên */
  right: 8%; /* Di chuyển 15% từ cạnh trái */
}

.about-me-title {
  color: #6e6ce5; /* Màu chữ */
  font-size: 1.1vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
  margin-bottom: 2vh;
  width: 50%; /* Chiều rộng */
}

.about-me-subtitle {
  color: #323843; /* Màu chữ */
  font-size: 2.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
  margin-bottom: 2vh;
  width: 30vw; /* Chiều rộng */
}

.about-me-content {
  color: #464545; /* Màu chữ */
  font-size: 1.2vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: 400; /* Trọng số font */
  text-align: left; /* Căn trái nội dung */
  width: 32vw; /* Chiều rộng */
}

.about-box-yellow {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: row; /* Đặt chiều dọc cho phần tử con */
  gap: 2vw; /* Khoảng cách giữa các phần tử */
  padding: 2vh 2vw; /* Padding: trên, phải, dưới, trái */
  width: 30vw; /* Căn giữa các phần tử theo chiều ngang */
  align-items: flex-start; /* Căn trái các phần tử bên trong */
  background-color: #fdeddd;
  margin-top: 3vh; /* Khoảng cách trên */
  border-radius: 1vh; /* Bo tròn */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-box-yellow:hover {
  transform: scale(1.05); /* Phóng to box khi hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Đổ bóng đậm hơn */
}

.about-box-purple {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: row; /* Đặt chiều dọc cho phần tử con */
  gap: 2vw; /* Khoảng cách giữa các phần tử */
  padding: 2vh 2vw; /* Padding: trên, phải, dưới, trái */
  width: 30vw; /* Căn giữa các phần tử theo chiều ngang */
  align-items: flex-start; /* Căn trái các phần tử bên trong */
  background-color: #efe9f7;
  margin-top: 3vh; /* Khoảng cách trên */
  border-radius: 1vh; /* Bo tròn */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-box-purple:hover {
  transform: scale(1.05); /* Phóng to box khi hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Đổ bóng đậm hơn */
}

.text-block {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  align-items: flex-start; /* Căn trái cho các phần tử con */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
  width: 32vw; /* Chiều rộng */
  text-align: left; /* Căn trái nội dung */
}

.box-title {
  color: #323843; /* Màu chữ */
  font-size: 1.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: 500; /* Trọng số font */
  text-align: left; /* Căn trái nội dung */
}

.box-content-yellow {
  color: #464545; /* Màu chữ */
  font-size: 0.9vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: 400; /* Trọng số font */
  text-align: left; /* Căn trái nội dung */
  width: 80%; /* Chiều rộng tối đa của văn bản */
}

.box-content-purple {
  color: #464545; /* Màu chữ */
  font-size: 0.9vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: 400; /* Trọng số font */
  text-align: left; /* Căn trái nội dung */
  width: 87%; /* Chiều rộng tối đa của văn bản */
}

.about-me-left {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: 13vh; /* Điều chỉnh khoảng cách từ trên xuống */
  left: 1vw; /* Điều chỉnh khoảng cách từ trái sang */
}

.downloadCVArrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.5vh 3vw;
  background-color: #feb12f;
  color: #fff8f2;
  font-family: "Segoe UI", sans-serif;
  font-size: 2vh;
  font-weight: 600;
  border-radius: 3vh;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 5vh;
}

.downloadCVArrow:hover {
  background-color: #fff8f2;
  color: #feb12f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.downloadCVArrow .arrow-icon {
  margin-left: 0.5vw;
  font-size: 3vh; /* Icon lớn hơn chữ */
  display: flex;
  align-items: center;
  transform: translateY(-0.2vh); /* Điều chỉnh vị trí icon lên chút */
}

.project-block {
  position: relative; /* Tạo vị trí tương đối */
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
  text-align: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa các phần tử theo chiều ngang */
  height: auto; /* Đặt chiều cao khối là to */
  margin-top: 7vh; /* Khoảng cách trên */
  gap: 2vh; /* Khoảng cách giữa các phần tử */
}

.project-title {
  color: #6e6ce5; /* Màu chữ */
  font-size: 1.2vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
}

.project-subtitle {
  color: #323843; /* Màu chữ */
  font-size: 2.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.5; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
  margin-bottom: 2vh;
}

.blue-plant {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: 5vw; /* Chiều rộng */
  height: 5vw; /* Chiều cao */
  top: 5%; /* Di chuyển 10% từ cạnh trên */
  left: 20%; /* Di chuyển 15% từ cạnh trái */
}

.project-star {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: 0; /* Di chuyển 10% từ cạnh trên */
  right: 20%; /* Di chuyển 15% từ cạnh trái */
}

.project-container {
  display: flex;
  flex-wrap: wrap; /* Cho phép các khối xuống dòng */
  justify-content: space-between; /* Căn giữa các khối */
  padding: 0 15vw 5vw 15vw; /* Padding: trên, phải, dưới, trái */
}

.project-block {
  flex: 1 1 calc(30% - 0.5vw); /* Chiều rộng 1/3 của container, trừ khoảng cách */
  display: flex;
  flex-direction: column;
  padding: 1vh; /* Padding sử dụng vh để đảm bảo độ cao */
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng */
}

.project-image {
  width: 100%; /* Chiều rộng 100% để bao phủ hết không gian của khối */
  height: 16vw; /* Chiều cao */
  border-radius: 1.5vh; /* Bo tròn */
  background-color: #e0e0e0;
}

.project-bottom-block {
  display: flex; /* Hiển thị theo chiều ngang */
  justify-content: space-between; /* Căn giữa các phần tử theo chiều ngang */
  align-items: center; /* Căn giữa dọc */
  width: 100%; /* Chiều rộng 100% */
  margin-top: 1vh; /* Thêm khoảng cách giữa hình ảnh và phần chữ */
}

.project-title-block {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  align-items: flex-start; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
  text-align: left; /* Căn trái nội dung */
  color: #000;
  font-weight: bold; /* Trọng số font */
  font-size: 1.5vw; /* Kích thước chữ */
}

.project-subtitle-block {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  align-items: flex-start; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
  text-align: left; /* Căn trái nội dung */
  color: #464545;
  font-size: 1vw; /* Kích thước chữ */
  font-weight: 400;
}

.project-button {
  background-color: #5d5cdc; /* Màu nền */
  color: #fff8f2; /* Màu mũi tên */
  width: 3vw; /* Chiều rộng của nút */
  height: 3vw; /* Chiều cao của nút */
  border: none; /* Không có viền */
  border-radius: 50%; /* Bo tròn */
  cursor: pointer; /* Con trỏ khi hover */
  display: flex; /* Hiển thị flex */
  align-items: center; /* Căn giữa dọc */
  justify-content: center; /* Căn giữa ngang */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng */
}

.project-button:hover {
  background-color: #fcba49; /* Màu nền khi hover */
  color: #5d5cdc; /* Màu mũi tên khi hover */
}

.arrow-icon {
  width: 20px; /* Kích thước mũi tên */
  height: 20px;
  stroke: currentColor; /* Màu mũi tên */
  transition: transform 0.3s ease; /* Hiệu ứng xoay mũi tên */
}

.project-button:hover .arrow-icon {
  transform: rotate(45deg); /* Xoay 45 độ khi hover */
}

.circle-purple-project {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: 1vw; /* Chiều rộng */
  height: 1vw; /* Chiều cao */
  bottom: 1%; /* Di chuyển 10% từ cạnh trên */
  left: 32%; /* Di chuyển 15% từ cạnh trái */
  background-color: #5d5cdc; /* Màu nền */
  border-radius: 2vw; /* Bo tròn */
}

.contact-block {
  margin-top: 10vh; /* Khoảng cách trên */
  position: relative;
  display: flex; /* Thiết lập chế độ hiển thị flex */
  flex-direction: row; /* Đặt chiều dọc cho phần tử con */
  justify-content: flex-start; /* Căn trái các phần tử */
  align-items: center; /* Căn giữa theo chiều dọc */
  background-image: url("../assets/images/bottom-background.svg");
  background-size: cover; /* Sử dụng cover để ảnh bao phủ toàn bộ khối */
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 42.5vh; /* Đặt chiều cao khối cụ thể */
  width: 100%; /* Đặt chiều rộng khối là 100% */
  padding: 0; /* Xóa padding để loại bỏ khoảng cách thừa */
  gap: 40vw; /* Khoảng cách giữa các phần tử, nếu cần */
}

.real-image-contact {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  bottom: 0%; /* Di chuyển 10% từ cạnh trên */
  right: 0%; /* Di chuyển 15% từ cạnh trái */
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.circle-yellow-contact-1 {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: 1.5vw; /* Chiều rộng */
  height: 1.5vw; /* Chiều cao */
  top: 10%; /* Di chuyển 10% từ cạnh trên */
  left: 5%; /* Di chuyển 15% từ cạnh trái */
  background-color: #feb12f; /* Màu nền */
  border-radius: 3vw; /* Bo tròn */
}

.contact-text-block {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  justify-content: center; /* Căn giữa theo chiều dọc */
  text-align: left; /* Căn trái văn bản */
  margin-left: 20px; /* Khoảng cách giữa chữ và cạnh trái, có thể điều chỉnh */
}

.contact-title {
  color: #ffffff; /* Màu chữ */
  font-size: 2.5vw; /* Kích thước chữ */
  font-weight: 600; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  font-weight: bold; /* Trọng số font */
  margin-bottom: 2vh; /* Khoảng cách dưới */
}

.contact-content {
  color: #ffffff; /* Màu chữ */
  font-size: 1.2vw; /* Kích thước chữ */
  font-weight: 400; /* Trọng số chữ */
  line-height: 1.4; /* Chiều cao dòng */
  font-family: "Segoe UI", sans-serif; /* Font chữ */
  text-align: left; /* Căn trái văn bản */
  width: 32vw; /* Chiều rộng */
}

.contact-button {
  font-size: 1.2vw;
  margin-left: 2vh;
  margin-top: 2vh;
  background-color: #feb12f; /* Màu nền */
  color: #fff8f2; /* Màu chữ */
  padding: 1.5vh 4vh; /* Khoảng cách bên trong */
  border: 2px solid #feb12f; /* Viền */
  border-radius: 1vh; /* Bo tròn */
  cursor: pointer; /* Con trỏ khi hover */
  font-weight: 600; /* Trọng số font */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
}

.contact-button:hover {
  background-color: #fff8f2; /* Màu nền khi hover */
  color: #feb12f; /* Màu chữ khi hover */
}

.contact-container {
  display: flex; /* Hiển thị theo chiều ngang */
  flex-direction: column; /* Đặt chiều dọc cho phần tử con */
  justify-content: center; /* Căn giữa các phần tử theo chiều dọc */
  align-items: flex-start; /* Căn giữa các phần tử theo chiều ngang */
  gap: 2vh; /* Khoảng cách giữa các phần tử */
  padding: 5vh 10vw; /* Padding: trên, phải, dưới, trái */
}

.white-sign-contact {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  top: 10%; /* Di chuyển 10% từ cạnh trên */
  right: 18%; /* Di chuyển 15% từ cạnh trái */
  z-index: 1; /* Đặt vị trí phía sau */
}

.intro-arrow {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: auto; /* Chiều rộng */
  height: auto; /* Chiều cao */
  bottom: 23%; /* Di chuyển 10% từ cạnh trên */
  left: 23%; /* Di chuyển 15% từ cạnh trái */
}

.circle-yellow-contact-2 {
  position: absolute; /* Tạo vị trí tuyệt đối */
  width: 0.75vw; /* Chiều rộng */
  height: 0.75vw; /* Chiều cao */
  bottom: 20%; /* Di chuyển 10% từ cạnh trên */
  right: 5%; /* Di chuyển 15% từ cạnh trái */
  background-color: #feb12f; /* Màu nền */
  border-radius: 1vw; /* Bo tròn */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 8vw;
  font-size: 1vw;
  text-align: center;
  color: #616161;
  margin-top: 3vh; /* Khoảng cách trên */
  margin-bottom: 3vh; /* Khoảng cách dưới */
  position: relative;
}

.nav-item-footer {
  color: #616161; /* Màu chữ */
  cursor: pointer; /* Hiển thị con trỏ khi hover */
  font-family: "SegoeUI", sans-serif; /* Font chữ */
  font-size: 1vw; /* Kích thước font */
  transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu */
  line-height: 1; /* Chiều cao dòng */
  font-weight: 600; /* Trọng số font */
}

.nav-item-footer:hover {
  color: #feb12f; /* Màu chữ khi hover */
}

.button-up {
  width: 15vw; /* Chiều rộng */
  height: 15vw; /* Chiều cao */
  position: fixed; /* Để nút luôn ở vị trí cố định */
  bottom: -90%; /* Bắt đầu ở dưới ngoài màn hình */
  left: 40%; /* Căn giữa theo chiều ngang */
  padding: 1vh 2vh; /* Khoảng cách bên trong */
  border: none; /* Không có viền */
  border-radius: 1vh; /* Bo tròn */
  cursor: pointer; /* Con trỏ khi hover */
  transition: bottom 0.8s ease; /* Hiệu ứng chuyển đổi cho vị trí */
}

.hoverable {
  transition: all 0.3s ease;
  cursor: pointer;
  filter: brightness(1);
  transform-origin: center; /* ✅ Giúp xoay tại tâm */
}

.hoverable:hover {
  filter: brightness(1.2) drop-shadow(0 0 10px #ffcc00);
  transform: scale(1.05) rotate(-5deg);
}

body {
  overflow: hidden; /* Ẩn thanh cuộn */
}
